@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-weight: 600;
}
body{
    background: url(weather_bg.jpg);
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgb(0,0,0,0.15);
    backdrop-filter: blur(12px);
}
.main-container{
    border: 0 solid;
    width: 450px;
    height: 600px;
    z-index: 1;
    background: linear-gradient(to top, rgb(0,0,0,0.15),rgb(255,255,255,0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
}
.content{
position: relative;
margin-bottom: 40px;
}
.city{
    width: 100%;
    padding: 11px 20px;
    border-radius: 100px;
    border: 2px solid transparent;
    background: rgb(0,0,0,0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}
.city:focus{
    border: 3px solid rgb(0,0,0,0.15);
}
.city::placeholder{
    color: rgb(255,255,255,0.75);
}
.search_btn{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    border: none;
    cursor: pointer;
    background: none;
}

/* this is general class for all the general class elements */
.general_class{
    font-weight: 400;
}

/* this is the CSS for Weather information */


.weather_info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.information_waether{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: "Poppins", sans-serif; 
}

.location-date{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cloud_img_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cloudy_picture{
    width: 120px;
    height: 120px;
}
.weather_clouds{
    text-align: end;
}


/* this is the CSS for Weather information of humidity & wind speed */

.weather_condition_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.humidity{
    display: flex;
    align-items: center;
    gap: 5px;
}
.humidity span{
    font-size: 30px;
}


/* this is the CSS for Weather conditions of that week */

.forecast-items-cotainer{
    display: flex;
    padding-bottom: 18px;
    margin: 0px 20px ;
    gap: 35px;
    overflow-x: scroll;
}

.forecast-items-cotainer::-webkit-scrollbar{
    height: 9px;
}
.forecast-items-cotainer::-webkit-scrollbar-track{
    background: rgb(255,255,255,0.1);
    border-radius: 99px;
}
.forecast-items-cotainer::-webkit-scrollbar-thumb{
    background: rgb(255,255,255,0.1);
    border-radius: 99px;
}


.forecast_item{
    min-width: 90px;
    height: 80px;
    background: rgb(255,255,255,0.15);
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
    transition: 0.3s background ;
}
.forecast_item:hover{
    background: rgb(255,255,255,0.75);

}
.forcast-item-img{
    width: 70px;
    height: 70px;
    margin: 10px 0px;
}
.forcast-items-data{
    font-size: 13px;
    font-weight: 600;
}

/* End of -- this is the CSS for Weather information */

/* Section -- Search city & message  */
.section-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    margin-top: 22%;
}
.section-message img{
    height: 230px;
    width: fit-content;
}
/* End of Section -- Search city & message  */


